{% extends "gpa_base.html" %}
{% load static %}


{% block content %}

    {% include "gpa_nav.html" %}

    <main style="padding:10px">
        <div class="content">
           <div class="welcometext">
            <h2>OPTIMISE YOUR CGPA</h2>
            <p>A CGPA calculator for students of UET Taxila.</p>
            <p>Visualize potential scores and Focus on key subjects.</p>
           </div>

           {% for department in departments %}
            <div class="branch" >
                <div class="branch-name">
                    <h2>{{ department.name }}</h2>
                </div>
                <script src="home.js"></script>
                <div class="button-group">
                    <div class="first-row">
                    {% for semester in semesters|slice:":4" %}
                    {% if semester.department == department %}
                        <button class="sem1" onclick="window.location.href ='{% url 'calculator' department.id semester.id %}'">{{ semester.name }}</button>
                    {% endif %}
                    {% endfor %}
                    </div>
                    <div class="first-row">
                    {% for semester in semesters|slice:"4:8" %}
                    {% if semester.department == department %}
                        <button class="sem1" onclick="window.location.href ='{% url 'calculator' department.id semester.id %}'">{{ semester.name }}</button>
                    {% endif %}
                    {% endfor %}
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </main>

    {% include "footer.html" %}

{% endblock content %}