<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>

<body>

    {% for department in departments %}
    <h2>{{ department.name }}</h2>
    {% for semester in department.semester_set.all %}
    <h3>{{ semester.name }}</h3>
    <ul>
        {% for subject in semester.subjects.all %}
        <li>{{ subject.name }} - {{ subject.credit_hour }} credit hours</li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}

</body>

</html>