<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><a target='blank' href="{% url 'gpa' %}">GPA PAGE</a></h1>
    <h1><a target='blank' href="#">Title Page</a></h1>
    <h1>All Departments with Semesters</h1>
    {% for department in departments %}
        <h2>{{ department.name }}</h2>
        <ul>
            {% for semester in semesters %}
                {% if semester.department == department %}
                    <li><a target='blank' >{{ semester.name }} : {{ semester.department }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
