{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        background: #eef8ff;
    }
    
    footer {
        width: 100%;
        bottom: 0;
        background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Front_View%2C_Entrance_Door%2C_Admin_Block%2C_UET_Taxila.jpg/1200px-Front_View%2C_Entrance_Door%2C_Admin_Block%2C_UET_Taxila.jpg') no-repeat center center/cover;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 30px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        position: relative;
    }
    
    footer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6); /* Black with 50% opacity */
        z-index: 1; /* Ensure the overlay is above the background but below the content */
    }
    
    .footer-row {
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 2; /* Ensure content is above the overlay */
    }
    
    .footer-col {
        flex-basis: 25%;
        padding: 10px;
    }
    
    .footer-col.logo-col {
        flex-basis: 10%; /* Adjust as needed for logo size */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-col.logo-col img.logo {
        max-width: 100px; /* Adjust as needed for logo size */
    }
    
    .footer-col h4 {
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    
    .footer-col ul {
        list-style: none;
    }
    
    .footer-col ul li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
    
    .footer-col ul li a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .footer-col ul li a .contact-icon {
        max-width: 20px;
        margin-right: 10px;
    }
    
    .footer-col ul li a span {
        position: relative;
    }
    
    .footer-col ul li a:hover span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #e69d29; /* Same color as subscribe button */
        animation: underline 0.3s ease-in-out;
    }
    
    @keyframes underline {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    
    .footer-col form input {
        padding: 10px;
        margin-bottom: 10px;
        width: calc(100% - 22px);
    }
    
    .footer-col form button {
        padding: 10px;
        width: 100%;
        background: #00093c; /* Default blue color */
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background 0.1s ease; /* Added transition for smooth color change */
    }
    
    .footer-col form button:hover {
        background: #e69d29; /* Yellow color on hover */
    }
    
    .footer-col .icons {
        margin-top: 20px;
    }
    
    .footer-col .icons i {
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .footer-col .icons i:hover {
        color: #e69d29;
    }
    



</style>


    <footer>
        <div class="footer-row">
            <div class="footer-col logo-col">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/UET_Taxila_logo.svg/1200px-UET_Taxila_logo.svg.png" alt="Logo" class="logo">
            </div>
            <div class="footer-col">
                <h4>Info</h4>
                <ul class="links">
                    <li><a href="#"><span>About Us</span></a></li>
                    <li><a href="#"><span>Programs</span></a></li>
                    <li><a href="#"><span>Admissions</span></a></li>
                    <li><a href="#"><span>Life At Campus</span></a></li>
                    <li><a href="#"><span>QS Ranking</span></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul class="links">
                    <li><a href="#"><img src="https://static.vecteezy.com/system/resources/previews/021/333/653/non_2x/phone-icon-in-trendy-flat-style-isolated-on-white-background-telephone-symbol-illustration-free-vector.jpg" alt="Icon" class="contact-icon"><span>+92 51-9047-400</span></a></li>
                    <li><a href="#"><img src="https://static.vecteezy.com/system/resources/previews/002/261/125/original/fax-icon-symbol-sign-isolate-on-white-background-illustration-eps-10-free-vector.jpg" alt="Icon" class="contact-icon"><span>+92 51-9047-420</span></a></li>
                    <li><a href="#"><img src="https://static.vecteezy.com/system/resources/thumbnails/014/989/575/small/pin-line-icon-in-black-on-a-white-background-it-s-perfect-for-locations-signs-and-navigational-concepts-vector.jpg" alt="Icon" class="contact-icon"><span>HMC Link Road-</span></a></li>
                    <li><a href="#"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Taxila, Rawalpindi</span></a></li>
                    <li><a href="#"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;47050</span></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Newsletter</h4>
                <p>
                    Subscribe to our newsletter for a weekly dose
                    of news, updates, helpful tips, and
                    exclusive offers.
                </p>
                <form action="#">
                    <input type="text" placeholder="Your email" required>
                    <button type="submit">SUBSCRIBE</button>
                </form>
                <div class="icons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-github"></i>
                </div>
            </div>
        </div>
    </footer>
