{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/uettaxila.png' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>UETT GPA</title>
</head>
<body>

    {% block content %}
    
    
    
    
    
    
    {% endblock content %}

    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'js/toggleButton.js' %}"></script>

    {% comment %} <script async src="https://www.googletagmanager.com/gtag/js?id=G-RSLTHGS9P4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-RSLTHGS9P4');
    </script> {% endcomment %}
</body>

</html>